<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Itim|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./material.min.css">
  <script src="./material.min.js"></script>
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  <link href="css/style.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <script src="cordova.js"></script>

  <script src="js/app.js"></script>
</head>
<body ng-app="starter" ng-controller="TodoCtrl">

<ion-pane>
  <ion-header-bar class="ionHead"> <!--ng-class="data.headerColor"-->
    <h1 class="title h1Head">Todo</h1>
  </ion-header-bar>
  <ion-content class="contentpane">
    <ion-list>
      <ion-item ng-repeat="task in tasks" ng-click="task.completed = !task.completed">
        <span id="icon" class="material-icons" ng-class="{complete: task.completed}"></span>
        <span id="title">{{task.title}}</span>
        <ion-option-button class="button-assertive delete" ng-click="tasks.splice($index, 1)"><i class="material-icons">delete</i>
        </ion-option-button>
        <ion-option-button class="" ng-click="edit(task)"><i class="material-icons">mode_edit</i></ion-option-button>
      </ion-item>

    </ion-list><!--
    <select ng-model="data.headerColor">
      <option value="bar-positive">Blauw</option>
      <option value="bar-balanced">Green</option>
      <option value="bar-assertive">Red</option>
    </select>-->
  </ion-content>
  <button class="fab addTask" ng-click="newTask()">+</button>
</ion-pane>
</body>
</html>
