.item-content {
  display: flex;
  align-items: center;
}

#title{
  margin-left: 10px;
  /*
  font-size: 18px;
  */
  height: 100%;
  line-height: 18px;
}

#icon.complete::before {
  content: "check_box";

  /*
  content: url("../../resources/ic_check_box_black_24dp/ic_check_box_black_24dp/ios/ic_check_box.imageset/ic_check_box.png");
  */

}

#icon::before {
  content: "check_box_outline_blank";

  /*
  content: url("../../resources/ic_check_box_outline_blank_black_24dp/ic_check_box_outline_blank_black_24dp/android/drawable-mdpi/ic_check_box_outline_blank_black_24dp.png");
  */
}

.addTask {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.fab {
  border: none;
  font-size: 2em;
  color: white;
  background-color: #448aff;

  /*
  background-color: #FFC107;
  */
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin: auto;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
  -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
  box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.fab:hover {
  background-color: #b3d4fc;
}

body {
  margin: 1em;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

h2 {
  color: #ccc;
}

h4 {
  margin: 4px;
  padding: 2px;
}

.ionHead {

  background-color: #3f51b5;

  /*
  background-color: #00796B;
  */
  margin-bottom: auto;
}

.h1Head {
  color: #fff;
  text-align: center;
}

.button {
  background-color: transparent;
}

.delete {
  background-color: #F44336;
}

.contentpane {
  background-color: #F5F5F5;
}

.popup {

  border-radius: 3px !important;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  position: fixed;
}

.popup-head {

  background-color: #3f51b5;
  border-radius: 3px 3px 0px 0px !important;
  position: fixed;
}

.popup-title {

  color: white;
  font-size: 16px;
  position: fixed;

}

.popup-body input {
  text-indent: 10px;
  background-color: #fff;
}

.pane {
  width: 100%;
  position: fixed;
}

.delete {
  display: block;
  margin: 0 auto;
}

